<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Angular 8 Material</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>
<app-employee></app-employee>
<div>
  <p>
    Exporting an excel file of type .xslx !!!
  </p>
  <p>Export as XLSX by clicking the below button</p>

  <button (click)="exportAsXLSX()">EXCEL</button>
</div>
<mat-form-field class="search">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> fullName </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>


  <ng-container matColumnDef="mobile">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> mobile </th>
    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> department </th>
    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> actions </th>
    <td mat-cell *matCellDef="let  row">
      <button mat-icon-button>
        <mat-icon>launch</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="loading">
    <mat-footer-cell *matFooterCellDef colspan="6">
      ...loading data
    </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data
      </mat-footer-cell>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null &&  dataSource.data.length==0}"></mat-footer-row>
</table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>